@import "tailwindcss";

:root {
  --header-height: 80px;
}

@theme {
  --color-rosewater: oklch(0.9226 0.0238 30.49);
  --color-flamingo: oklch(0.8797 0.0418 17.98);
  --color-pink: oklch(0.87 0.0752 336.3);
  --color-mauve: oklch(0.7871 0.1187 304.77);
  --color-red: oklch(0.7556 0.1297 2.76);
  --color-maroon: oklch(0.7556 0.1297 2.76);
  --color-peach: oklch(0.8237 0.1015 52.63);
  --color-yellow: oklch(0.8577 0.1092 142.72);
  --color-green: oklch(84.2% 0.17 142.2);
  --color-teal: oklch(0.8585 0.0792 182.75);
  --color-sky: oklch(0.8467 0.0833 210.25);
  --color-sapphire: oklch(0.7906 0.0965 228.65);
  --color-blue: oklch(0.7664 0.1113 259.88);
  --color-lavender: oklch(0.8166 0.091 277.31);
  --color-text: oklch(0.8787 0.0426 272.28);
  --color-subtext1: oklch(0.8168 0.0403 272.86);
  --color-subtext0: oklch(0.751 0.0396 273.93);
  --color-overlay2: oklch(0.6865 0.0374 274.73);
  --color-overlay1: oklch(0.6176 0.0367 276);
  --color-overlay0: oklch(0.5497 0.0345 277.1);
  --color-surface2: oklch(0.4765 0.034 278.64);
  --color-surface1: oklch(0.4037 0.032 280.15);
  --color-surface0: oklch(0.324 0.0319 281.98);
  --color-base: oklch(0.2429 0.0304 283.91);
  --color-mantle: oklch(0.2155 0.0254 284.06);
  --color-crust: oklch(0.1828 0.0204 284.2);
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body {
  font-family: "Atkinson", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background: var(--color-base);
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--color-text);
  font-size: 20px;
  line-height: 1.7;
}

main {
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  line-height: 1.2;
}

h1 {
  color: var(--color-blue);
  font-size: 3.052em;
}

h2 {
  color: var(--color-sapphire);
  font-size: 2.441em;
}

h3 {
  color: var(--color-blue);
  font-size: 1.953em;
}

h4 {
  color: var(--color-lavender);
  font-size: 1.563em;
}

h5 {
  color: var(--color-flamingo);
  font-size: 1.25em;
}

strong,
b {
  font-weight: 700;
  color: var(--color-mauve);
}

a {
  color: var(--color-mauve);
}

a:hover {
  color: var(--color-mauve);
}

p {
  margin-bottom: 1em;
}

.prose p {
  margin-bottom: 2em;
  color: var(--color-text);
}

.prose ul {
  margin-bottom: 1em;
  color: var(--color-text);
}

.prose ol {
  margin-bottom: 1em;
  color: var(--color-text);
}

.prose li {
  margin-bottom: 0.5em;
  color: var(--color-text);
}

.collection-pill {
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 9999px;
  background-color: var(--color-peach);
  color: var(--color-surface0);
}

.tag-pill {
  display: inline-block;
  padding: 0.25em 0.75em;
  border-radius: 9999px;
  background-color: var(--color-teal);
  color: var(--color-surface0);
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

code {
  padding: 2px 5px;
  background-color: var(--color-mantle);
  border-radius: 2px;
}

pre {
  padding: 1.5em;
  border-radius: 8px;
}

pre>code {
  all: unset;
}

blockquote {
  border-left: 4px solid var(--color-mauve);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}

hr {
  border: none;
  border-top: 1px solid var(--color-overlay2);
}

.emphasized-point {
  color: var(--color-mauve);
  font-weight: 700;
}

.emphasized-sub {
  color: var(--color-teal);
  font-weight: 500;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

@media (max-width: 766px) {
  :root {
    --header-height: 60px;
  }

  body {
    font-size: 18px;
  }

  main {
    padding: 1em;
  }
}
