---
import Image from './ui/Image.astro';

export interface Props {
  heroImage: string;
  heroAlt: string;
  heroTaglineElement?: any;
}

// src/components/PageHero.astro
const { heroImage, heroAlt, heroTaglineElement } = Astro.props;
---

<section
  class="relative w-full flex"
  style="height: calc(100vh - var(--header-height));"
  aria-label={heroAlt}
>  
  <Image 
    src={heroImage}
    alt={heroAlt}
    class="absolute inset-0 w-full h-full object-cover"
    loading="eager"
    decoding="async"
  />
  {heroTaglineElement && (
    <div class="relative z-10 flex items-center justify-center w-full h-full">
      {heroTaglineElement}
    </div>
  )}
</section>
