---
import type { ContainerProps } from '../../types';

const { 
  size = 'lg', 
  padding = 'md', 
  class: className = '' 
}: ContainerProps = Astro.props;

const sizeClasses = {
  sm: 'max-w-3xl',
  md: 'max-w-4xl',
  lg: 'max-w-6xl',
  xl: 'max-w-7xl',
  full: 'max-w-full'
};
const paddingClasses = {
  none: '',
  sm: 'px-4',
  md: 'px-4 sm:px-6 lg:px-8',
  lg: 'px-6 sm:px-8 lg:px-12'
};

const classes = `mx-auto ${sizeClasses[size]} ${paddingClasses[padding]} ${className}`;
---

<div class={classes}>
  <slot />
</div> 